<%= form_for(@survey) do |f| %>
  <% if @survey.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@survey.errors.count, "error") %> prohibited this survey from being saved:</h2>

      <ul>
      <% @survey.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :would_charge %><br />
    <%= f.text_field :would_charge %>
  </div>
  <div class="field">
    <%= f.label :would_pay %><br />
    <%= f.text_field :would_pay %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
