<p id="notice"><%= notice %></p>

<p>
  <b>Email:</b>
  <%= @survey.email %>
</p>

<p>
  <b>Would charge:</b>
  <%= @survey.would_charge %>
</p>

<p>
  <b>Would pay:</b>
  <%= @survey.would_pay %>
</p>


<%= link_to 'Edit', edit_survey_path(@survey) %> |
<%= link_to 'Back', surveys_path %>
